<html>
    <body>
        <html>
<head>
<style>
body {
  background-color:#D3D8D2;
}

h1 {
  color: black;
  text-align: center;
  
}

p {



  font-family: 'Trebuchet MS', sans-serif;
  font-size: 15px;
  text-align: center;
  color: rgb(23, 160, 214);


}
</style>
</head>
<body>

<h1>Blogcast</h1>
<p>Welcome to BlogCast, The fun wikipedia. In BlogCast, you can become an artist and share your creations with your fans. We are looking to add lots of features to BlogCast including Polls, Podcasts, Blogs, Streaming and video uploading. (very distant future). The website is coded in a mix of python and html using a useful tool called flask to link them together.</p>
<a style="color:black" href="http://127.0.0.1:5000/home">home</a>

</body>
</html>

    