{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>


 
  </div>
  
  </body>
  </html> 






</head>
<body>



<title>Vortex Page</title>
<head>
<style>
body {
    background-image:url("/static/gal.png");
    background-attachment: fixed;
}

h1 {
  color: black;
  text-align: center;
  
}

p {


  font-family: 'Trebuchet MS', sans-serif;
  font-size: 30px;
  text-align: center;
  color: white;


}
</style>
</head>


<br>
<h1 style="color:white"BlogCast</h1>
<p>VortexLive, Create, Share, Upload all in 30 seconds!</p>





</body>
</html>

{% endblock %}
