<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: white;
}

h1 {
  color: black;
  text-align: center;
  
}

p {



  font-family: 'Trebuchet MS', sans-serif;
  font-size: 40px;
  text-align: center;
  color: rgb(23, 160, 214);


}
</style>
</head>
<body>

<h1>Blogcast</h1>
<p>Welcome to BlogCast, The fun wikipedia! In this website we have blogs and Podcasts from people all over the world</p>
<a style="color:black" href="http://127.0.0.1:5000/aboutus">About</a>

</body>
</html>
