<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.rectangle {
  height: 60px;
  width: 100000px;
  background-color: #791CDB;
}
</style>
<a style="color:white" href="http://127.0.0.1:5000/">Home</a>
<a style="color:white" href="http://127.0.0.1:5000/aboutus">About</a>
<a style="color:white" href="http://127.0.0.1:5000/form">Sign Up</a>
<a style="color:aquamarine" href="http://127.0.0.1:5000/blogs">Blogs</a>
<button Hello ></button>
</head>
<body>

<div class="rectangle"></div>

<title>BlobCast</title>
<head>
<style>
body {
  background-color: black;
}

h1 {
  color: black;
  text-align: center;
  
}

p {



  font-family: 'Trebuchet MS', sans-serif;
  font-size: 15px;
  text-align: center;
  color: rgb(23, 160, 214);


}
</style>
</head>
<body>

<h1 style="color:white"BlogCast</h1>
<p>Welcome to BlogCast, The fun wikipedia! In this website we have blogs and Podcasts from people all over the world</p>
<br>
<p>The time is {{time}} </p>


</body>
</html>
