<html>
    <body style="background-color:#2B2C27">
        <style>
p {


font-family: 'Trebuchet MS', sans-serif;
font-size: 20px;
text-align: center;
color: white;



}

h1 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 35px;
    text-align: center;
    color: white;
}
        </style>   
            

        <h1>Terms and Conditions</h1>
        <p>By Accepting our terms and conditions you are argeeing to...</p>
        <br>
        <p>Your email and password to be stored by VortexLive. All your activity and traffic will be kept by VortexLive </p>



    </body>

</html>


